body {
  margin: 0;
  padding: 0;
  background-color: rgba(223, 220, 220, 0.719)
}
a {
  text-decoration: none;
  color: black;
}

/*          NAVEGADOR           */
/* NAV ORDEN DEL CONTENIDO EN GENERAL Y FONDO*/
.nav-contenedor {
  display: flex;
  background-color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(201, 7, 7);
  align-items: center;
}

.nav-logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: 'Play', sans-serif;
}
.nav-logo img{
  border-radius: 50%;
  width: 80px;
}

.nav-lista {
  display: flex;
  flex-grow: 1;
  list-style: none;
  padding: 30px 20px 20px 20px;
  margin: 0;
  font-size: 16px;
  font-family: 'Play', sans-serif;
}

.nav-lista li {
  margin: 0 10px;
}

.nav-lista li .nav-links {
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
}

.nav-lista li:hover .nav-links {
  color: red;
  }


.nav-boton {
  background-color: rgb(145, 4, 4);
  font-family: 'Carrois Gothic SC', sans-serif;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 12px;
  cursor: pointer;
  margin-left: auto;
}

/*Modo responsivo seccion nav */
@media screen and (max-width: 768px) {
  .nav-logo img{
    width: 80px;
    margin-top: 10px;
  }
  .nav-logo {
    font-size: 20px;
  }

  .nav-lista {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 20px 0px 20px;
    padding: 0;
    width: 100%;
  }
  .nav-lista li {
    margin-bottom: 12px;
  }
  .nav-boton {
    text-align: center;
    display: inline-block;
    margin: 0px 20px 20px 20px;
    font-size: 12px;
  }
  .nav-contenedor {
    flex-direction: column;
  }
}

/*          SECCION PRINCIPAL          */
.principal-contenedor {
  background-color: rgb(39, 0, 0);
  border-bottom: 2px solid rgb(201, 7, 7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Textos encabezado */
.principal-izq {
  font-family: 'Play', sans-serif;
  padding: 0px 60px;
  color: white;
  text-align: left;
}
.principal-izq h1 {
  font-size: 40px;
  font-weight: bold;
}
.principal-p1 {
  font-size: 20px;
}
.principal-der img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
/* Barra de formulario correo */
.principal-bar {
  width: 50%;
  border-radius: 5px;
  padding: 10px;
}
.principal-boton {
  background-color: rgb(145, 4, 4);
  font-family: 'Carrois Gothic SC', sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

/*Terminos y condiciones*/
.principal-terms {
  font-size: 12px;
}
.principal-terms a {
  text-decoration: none;
  color: rgb(207, 131, 131);
}
.principal-terms a:hover {
  color: red;
}

/*Modo responsivo seccion principal */
@media screen and (max-width: 768px) {
  .principal-contenedor {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
  .principal-der img {
    margin: auto;
    width: 500px;
  }
}
/* Mantener el boton enviar en el mismo lugar al llegar a bajas resoluciones */
@media screen and (max-width: 480px) {
  .principal-boton {
    position: absolute;
    max-width: 100%;
    max-height: 200px;
  }
}

/*          CATALOGO          */

h2 {
  font-family: 'Play', sans-serif;
  color: black;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 35px;
  font-weight: bolder;
}
.catalogo-section {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: auto;
  max-width: 80%;
  padding: 0 40px 60px 40px;
  font-family: 'Play', sans-serif;
}
/* Diseño general catalogo*/
.box img {
  max-width: 50%;
  border-radius: 50%;
  height: auto;
}
.box p {
  font-family: 'Play', sans-serif;
  text-align: justify;
  margin: 25px;
}
.box .box-boton {
  display: inline-block;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 12px;
  background-color: rgb(145, 4, 4);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}
.box .box-boton:hover {
  background-color: black;
}
@media screen and (max-width: 1200px) {
  .catalogo-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 80%;
    padding-top: 30px;
    font-family: 'Play', sans-serif;
  }
}
@media screen and (max-width: 650px) {
  .catalogo-section {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 80%;
    padding-top: 30px;
    font-family: 'Play', sans-serif;
  }
}
.box {
  background-color: black;
  color: white;
  border: 3px solid rgb(145, 4, 4);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
/* Transicion de colores catalogo al pasar cursor por encima*/
.box:hover {
  background-color: rgb(235, 233, 233);
  color: black;
}
.box h3 {
  color: white;
}
.box:hover h3 {
  color: black;
}

/*          SECCION ADICIONAL         */
.adicional-contenedor {
  background-color: rgb(39, 0, 0);
  border-top: 2px solid rgb(201, 7, 7);
  border-bottom: 2px solid rgb(201, 7, 7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Textos encabezado */
.adicional-der {
  font-family: 'Play', sans-serif;
  padding: 0px 60px;
  color: white;
  text-align: left;
}
.adicional-der h3 {
  font-size: 40px;
  font-weight: bold;
}
.adicional-p1 {
  font-size: 20px;
}
.adicional-izq img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
.adicional-boton {
  background-color: rgb(145, 4, 4);
  font-family: 'Carrois Gothic SC', sans-serif;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 30px;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

/*Modo responsivo seccion adicional */
@media screen and (max-width: 768px) {
  .adicional-contenedor {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
  .adicional-izq img {
    margin: auto;
    width: 500px;
  }
}

/*          FOOTER          */
footer {
  background-color: black;
  color: white;
  padding: 20px;
}
footer li a {
  text-decoration: none;
  color: white;
}
footer li a:hover {
  text-decoration: none;
  color: red;
}
.col-md-12 {
  display: flex;
  justify-content: center;
  font-family: 'Play', sans-serif;
  font-size: 13px;
  max-width: 100%;
}
.col-md-12 li {
  list-style: none;
}
.footer-lista-iconos {
  display: flex;
  padding: 20px;
}
.footer-lista-iconos li {
  margin: 15px;
  font-size: 18px;
}
.footer-lista2, .footer-lista3, .footer-lista4 {
  padding: 20px 25px;
}
.footer-copyright {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 12px;
}
.footer-copyright img {
  width: 60px;
  border-radius: 50%;
}

/* Modo responsivo footer */
@media only screen and (max-width: 768px) {
  .col-md-12 {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 0;
    text-align: center;
  }
  .footer-lista-iconos {
    justify-content: center;
    padding: 10px 0 0 0;
  }
  .footer-lista2, .footer-lista3, .footer-lista4 {
    padding: 10px 0 0 0;
  }
}
@media only screen and (max-width: 550px) {
  .col-md-12 {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
  .footer-lista2, .footer-lista3, .footer-lista4 {
    padding: 0;
  }
}